.update-service {
  .textarea {
    height: 100%;
    .ant-form-item-control-input {
      height: 80%;
      &-content {
        height: 100%;
        textarea {
          height: 100%;
          resize: none;
        }
      }
    }
  }
  .inlineInput {
    display: inline !important;
    width: 65px !important;
  }
  .ant-checkbox-wrapper {
    span {
      &:last-child {
        display: flex;
        gap: 0 10px;
        .ant-form-item {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .update-content {
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    background: #fff;
    padding: 12px 24px;
    border-radius: 16px;
  }
  .ant-form-item {
    flex-direction: row !important;
  }
  .ant-btn {
    width: 147px;
    height: 48px;
    &:hover {
      color: #fff;
      background: #ff9138;
      border: 1px solid #ff9138;
    }
    &.btn-cancel {
      &:hover {
        background: #fff;
        color: #ff9138;
        border: 1px solid #ff9138;
      }
    }
  }
  .ant-form-item-control-input-content {
    .ant-input {
      &.ant-service {
        border: 1px solid #dcdcdc !important;
        &:hover {
          border-color: #ff9138 !important;
        }
      }
    }
    .ant-input:focus,
    .ant-input-focused {
      border-color: #ff9138 !important;
      --tw-ring-color: #ff9138 !important;
      box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
      outline: none;
    }
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
      border: 2px solid #ff9138 !important;
      --tw-ring-color: #ff9138 !important;
      outline: none;
      box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
    }
  }
}
