.progression-add {
  .ant-btn {
    width: 115px;
    height: 48px;
    &:hover {
      color: #fff;
      background: #ff9138;
      border: 1px solid #ff9138;
    }
    &.btn-cancel {
      &:hover {
        background: #fff;
        color: #ff9138;
        border: 1px solid #ff9138;
      }
    }
  }
}
